@charset "UTF-8";

.MR { 
   padding:50;
   margin-top: 90px;
   margin-bottom: 150px;
   text-align: center;
} 

.input-form {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	margin-bottom: 50px;
}

.input-form tbody th {
	margin-top: 10px;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1rem;
}


/*타이틀*/
.header{
	font-size:14.5px;
	text-align:left;
	vertical-align:middle;
	padding: 5px 0px 9px 0px;	
}

label {
	font-weight: bold;
}

/*입력란*/
.contents{
	text-align: left;
	font-size:13px;
	vertical-align:middle;
	padding: 15px 0px 15px 0px;	
}

.gc{
	text-align: left;
	font-size:15px;
	vertical-align:middle;
	padding: 5px 0px 0px 0px;	
}

.gc input {
	width: 25px;
	height: 25px;
}

.contents input{
	width: 373px;
	height: 27px;
	border: 1px solid #e6e6e6;
	padding: 2px 0 2px 12px;
}

.contents input:focus {
	outline: none;
}

/* 중복 체크 */
.double_check_result {
	text-align: left;
	font-size: 12px;
	margin-bottom: 9px;
}

/* 비번 체크 */
.pwCheck {
	text-align: left;
	font-size: 12px;
	margin-bottom: 9px;
}

/* 주민등록번호 */
.c {
	font-size: 12px;
	color: #c2c2c2;
}

/* 질문 */
.contents select {
	width: 256px;
	height: 33px;
	border: 1px solid #e6e6e6;
	padding: 2px 0 2px 2px;
}

.contents select:focus {
	outline: none;
}

/* 하단 버튼 */
.btn{
	width:84px;
	background-color: #fd8731;
	color:#fff;
	border:0px;
	height:34px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}


.Jfield {
	width: 550px;
	/* padding: 30px; */
	border: 1px solid #ddd;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 20px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

/* 제한없음 버튼 */
.noLB {
	width: 100%;
	height: 35px;
	border: none;
	background-color: #e9e9e9;
}