@charset "UTF-8";
main {
	display: flex;
    flex-flow: column nowrap;
    margin: 0px auto;
    width: 100%;
    max-width: 808px;
    min-height: 1px;
}

main article {
	padding: 30px 0px;
    border-bottom: 1px;
}

hr {
	color: rgb(155, 155, 155);
}

main article section {
	margin-bottom: 20px;
    white-space: inherit;
    font-size: 15px;
    line-height: 22px;
}

.info {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
	flex: 0 0 auto;
    margin-right: 14px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    overflow: hidden;
}

.info_notPhoto > div:last-child {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.info_notPhoto {
	margin-right: auto;
}

.name {
	font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.info_SD {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.starpoint {
	display: flex;
    flex-flow: row nowrap;
}

.review_date {
	margin-left: 6px;
    line-height: 10px;
    color: rgb(155, 155, 155);
    font-size: 10px;
}

.join_moim {
	color: rgb(155, 155, 155);
    display: inline-block;
}

.join_moim > div {
    margin-bottom: 10px;
    line-height: 10px;
    font-size: 10px;
}

.title_moim {
	cursor: pointer;
    color: inherit;
}

.AVGstarpoint {
	margin-left: 6px;
    line-height: 10px;
    color: rgb(155, 155, 155);
    font-size: 30px;
}

.h1_review {
	margin-left: 6px;
}


